<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="playlists.css">
    <title>Spotify Playlists</title>
    <link rel="icon" type="image/png" href="./MoodMaestroLogo-green.jpg" border: 50%;/>
</head>
<body>
    <h1 class="section_title">Your Spotify Playlists</h1>
    <ul class="list_playlists">
        {% for playlist in playlists %}
        <li>
            <h2 class="playlist_name">{{ playlist['name'] }}</h2>
            <img src="{{ playlist['image'] }}" alt="{{ playlist['name'] }} Cover Image" width="200">
            <h3 class="tracks">Tracks:</h3>
            <ul class="list_tracks">
                {% for track in playlist['tracks'] %}
                <li>
                    <h3 class="track_name">{{ track['name'] }}</h3>
                    <p class="artists">Artists: {{ ', '.join(track['artists']) }}</p>
                    <p class="playlist data">Danceability: {{ track['danceability'] }}</p>
                    <p class="playlist data">Energy: {{ track['energy'] }}</p>
                    <p class="playlist data">Tempo: {{ track['tempo'] }}</p>
                    <p class="playlist data">Valence: {{ track['valence'] }}</p>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>







