<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_playlist.css') }}">
    <title>Create Playlist</title>
    <link rel="icon" type="image/png" href="../static/MoodMaestroLogo-green.jpg" border: 50%;/>
</head>
<body>
    <header>
        <h1 class="section_title">Create Playlist</h1>
        <nav class="header_nav">
            <a href="./home ">Home</a>
        </nav>
    </header>
    <main>
        <ul class="Mood">
            <h2>Mood</h2>
            <ul class="mood_list">
                <!-- generate list of moods -->
                <p class="NA hidden">No Moods Available</p>
                <ul class="song_mood">
                    {% for song in liked_songs %}   <!-- need to change this to mood variable from database ml -->
                        <input type="checkbox" id="{{ song['artist_genres'] }}" name="mood" >{{ song['artist_genres'] }}</p>    <!-- need to change this to mood variable from database ml -->
                    {% endfor %}
                </ul>
            </ul>
        </ul>
        <ul class="Genre">
            <h2>Genre</h2>
            <ul class="genre_list">
                <!-- generate list of genres -->
                <p class="NA hidden">No Genres Available</p>
                <ul class="song_mood">
                    {% for song in liked_songs %}   <!-- need to change this to genre variable from database -->
                        <input type="checkbox" id="{{ song['artist_genres'] }}" name="genre" >{{ song['artist_genres'] }}</p><!-- need to change this to genre variable from database -->
                    {% endfor %}
                </ul>
            </ul>
        </ul>   
        <button><a href="./create-playlist">Generate</a></button> <!-- generate playlist and maybe go to view of created playlist, https://open.spotify.com/playlist/{playlist_id}-->
    </main>
    <footer>
        <nav class="footer_nav">
            <button><a href="#">Top</a></button>
        </nav>
    </footer>
    <script src="../static/create_playlist.js"></script>
</body>
</html>