<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_playlist.css') }}">
    <title>Create Playlist</title>
    <link rel="icon" type="image/png" href="../static/MoodMaestroLogo-green.jpg" border: 50%;/>
</head>
<body>
    <header>
        <h1 class="section_title">Create Playlist</h1>
        <nav class="header_nav">
            <a href="./home ">Home</a>
        </nav>
    </header>
    <main>
        <ul class="Mood">
            <h2>Mood</h2>
            <ul class="mood_list">
                <!-- generate list of moods -->
                <p class="NA">No Moods Available</p>
            </ul>
        </ul>
        <ul class="Genre">
            <h2>Genre</h2>
            <ul class="genre_list">
                <!-- generate list of genres -->
                <p class="NA">No Genres Available</p>
            </ul>
        </ul>   
        <button><a href="">Generate</a></button> <!-- generate playlist and go to view of created playlist, https://open.spotify.com/playlist/{playlist_id}-->
    </main>
    <footer>
        <nav class="footer_nav">
            <button><a href="#">Top</a></button>
        </nav>
    </footer>
    <script src="../static/create_playlist.js"></script>
</body>
</html>