<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_playlist.css') }}">
    <title>Create Playlist</title>
    <link rel="icon" type="image/png" href="../static/MoodMaestroLogo-green.jpg" border: 50%;/>
</head>
<body>
    <header>
        <h1 class="section_title">Create Playlist</h1>
        <nav class="header_nav">
            <a href="./home ">Home</a>
        </nav>
    </header>
    <main>
        <h2>Mood</h2>
        <ul class="mood_list">
            <!-- generate list of moods -->
        </ul>
        <li>Genre</li>
        <ul class="genre_list">
            <!-- generate list of genres -->
        </ul>
        <button><a href=""></a></button> <!-- generate playlist and go to view of created playlist? -->>
    </main>
    <footer>
        <nav class="footer_nav">
            <button><a href="#">Top</a></button>
        </nav>
    </footer>
</body>
</html>