<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='liked_songs.css') }}">
    <title>Liked Songs</title>
    <link rel="icon" type="image/png" href="../static/MoodMaestroLogo-green.jpg" border: 50%;/>
</head>
<body>
    <header>
        <h1 class="section_title">Your Liked Songs</h1>
        <nav class="header_nav">
            <a href="./home ">Home</a>
        </nav>
    </header>
    <main>
        <ul class="list_songs">
            {% for song in liked_songs %}
            <li class="list_songs">
                <h2 class="song_name">{{ song['track']['name'] }}</h2>
                <p class="artists">Artists:
                    {% for artist in song['track']['artists'] %}
                    {{ artist['name'] }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <p class="album">Album: {{ song['track']['album']['name'] }}</p>
                <p class="song_data">Genres: {{ song['artist_genres'] }}</p>
                <p class="song_data">Danceability: {{ song['danceability'] }}</p>
                <p class="song_data">Energy: {{ song['energy'] }}</p>
                <p class="song_data">Tempo: {{ song['tempo'] }}</p>
                <p class="song_data">Valence: {{ song['valence'] }}</p>

            </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <nav class="footer_nav">
            <button><a href="#">Top</a></button>
        </nav>
    </footer>
</body>
</html>
