<!DOCTYPE html>
<html>
<head>
    <title>Liked Songs</title>
</head>
<body>
    <h1>Your Liked Songs</h1>
    <ul>
        {% for song in liked_songs %}
        <li>
            <h2>{{ song['track']['name'] }}</h2>
            <p>Artists:
                {% for artist in song['track']['artists'] %}
                {{ artist['name'] }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Album: {{  }}</p>
            <p>Genres: {{ }}</p>
            <p>Danceability: {{  }}</p>
            <p>Energy: {{  }}</p>
            <p>Tempo: {{ }}</p>
            <p>Valence: {{  }}</p>

        </li>
        {% endfor %}
    </ul>
</body>
</html>
