<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='liked_songs.css') }}">
    <title>Liked Songs</title>
    <link rel="icon" type="image/png" href="../static/MoodMaestroLogo-green.jpg" border: 50%;/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1 class="section_title">Your Liked Songs</h1>
        <nav class="header_nav">
            <a href="./home ">Home</a>
        </nav>
    </header>
    <main>
        <ul class="list_songs" id="songsList">
            {% for song in liked_songs %}
            <li class="list_songs" id="song-{{ song['track']['id'] }}">
                <h2 class="song_name">{{ song['track']['name'] }}</h2>
                <p class="artists">Artists:
                    {% for artist in song['track']['artists'] %}
                    {{ artist['name'] }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <!-- <p class="album">Album: ...</p> -->
                <p class="song_data genres">Genres: ...</p>
                <p class="song_data danceability">Danceability: ...</p>
                <p class="song_data energy">Energy: ...</p>
                <p class="song_data tempo">Tempo: ...</p>
                <p class="song_data valence">Valence: ...</p>
            </li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <nav class="footer_nav">
            <button><a href="#">Top</a></button>
        </nav>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Liked Songs</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Your Liked Songs</h1>
    <ul id="songsList">
        {% for song in liked_songs %}
        <li id="song-{{ song['track']['id'] }}">
            <h2>{{ song['track']['name'] }}</h2>
            <p>Artists:
                {% for artist in song['track']['artists'] %}
                {{ artist['name'] }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p class="genres">Genres: ...</p>
            <p class="danceability">Danceability: ...</p>
            <p class="energy">Energy: ...</p>
            <p class="key">Key: ...</p>
            <p class="loudness">Loudness: ...</p>
            <p class="speechiness">Speechiness: ...</p>
            <p class="tempo">Tempo: ...</p>
            <p class="valence">Valence: ...</p>

        </li>
        {% endfor %}
    </ul>

    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> -->