<!DOCTYPE html>
<html>
<head>
    <title>Table with Songs and Artists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='table2.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css">
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.production.min.js"></script>
    <link rel="icon" type="image/png" href="../static/MoodMaestroLogo-green.jpg" border: 50%;/>
    <style>
        #form-container {
            display: flex;
            align-items: center;
        }

        #message, #error-message {  
            display: none;
            margin-left: 10px;
            color: green;
        }

        #error-message {
            color: red;
        }
    </style>
</head>
<body>
    <header>
        <h1 class="section_title">Create Playlist</h1>
        <nav class="header_nav">
            <a href="./home ">Home</a>
        </nav>
    </header>
    
    <main>
        <!-- Combined Form for Playlist Name and Selecting Songs -->
        <form id="songsForm" method="post" action="/submit-form">
            <div id="form-container" class="form-container">
                <!-- Input for playlist name -->
                <label for="playlistName">Your Playlist Name:</label>
                <input type="text" id="playlistName" name="playlistName">
                <input type="submit" value="Submit" id="submitBtn">
                <div id="message">Your playlist has been created!</div>
                <div id="error-message">Please enter a name for your playlist.</div>
            </div>
            
            <!-- Table for selecting songs -->
            <div id="songsTable"></div>
        </form>
    </main>

    <footer>
        <nav class="footer_nav">
            <button><a href="#">Top</a></button>
        </nav>
    </footer>

    <!-- JavaScript to initialize Grid.js and handle form submission -->
    <script>
        new gridjs.Grid({
            search: true,
            sort: true,
            pagination: {
                enabled: true,
                limit: 100,
            },
            columns: [
               {name: 'ID', hidden: true},
                'Name',
                'Artists',
                'Genres',
                {
                    name: 'Select',
                    formatter: (_, row) => {
                    console.log(row);
                    return gridjs.html(`<input type="checkbox" name="selected_song" value="${row.cells[0].data}">`)
                    }
                }
            ],
            data: {{ data | tojson | safe }}
        }).render(document.getElementById('songsTable'));

        document.getElementById('songsForm').addEventListener('submit', async function(event) {
            event.preventDefault(); // Prevent the default form submission

            if (document.activeElement.id !== "submitBtn") {
                return;
            }
    
            var playlistName = document.getElementById('playlistName').value;
            var checkedSongs = [];
            var checkboxes = document.querySelectorAll('input[name="selected_song"]:checked');
    
            if (!playlistName.trim()) {
                document.getElementById('error-message').style.display = 'inline';
                setTimeout(function() {
                    document.getElementById('error-message').style.display = 'none';
                }, 5000);  // Hides the error message after 5 seconds
                return;
            }

            for (var i = 0; i < checkboxes.length; i++) {
                checkedSongs.push(checkboxes[i].value);
            }
    
            if (checkedSongs.length > 0) {
                
                var data = {
                    name: playlistName,
                    songs: checkedSongs
                };
                
                // Send a POST request to the server with the data
                try {
                    console.log(data)
                    var response = await fetch('/create-playlist2', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });
    
                    if (response.ok) {
                        console.log("Playlist created successfully");
                        var responseData = await response.json();
                        console.log(responseData);  

                        document.getElementById('playlistName').value = '';
                        document.getElementById('message').style.display = 'block';

                        // Optionally, hide the message after a few seconds
                        setTimeout(function() {
                            document.getElementById('message').style.display = 'none';
                        }, 5000);  // Hides the message after 5 seconds

                    } else {
                        console.error("Failed to create playlist");
                    }
                } catch (error) {
                    console.error("Error during AJAX request:", error);
                }
            } else {
                console.log("No songs selected");
            }
        });
    </script>
</body>
</html>
